.dialog {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(54, 54, 54, 0.80);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
  z-index: 100;

  &-content {
    display: flex;
    flex-direction: column;
    transform: translateY(-20px);
    transition: opacity 0.3s;
    border-radius: 6px;
    position: relative;
    min-width: 280px;
    max-height: min(80vh, 700px);
    width: 100%;
    margin: 1rem;
    box-shadow: 0px 3px 6px -2px rgba(20, 21, 26, 0.05), 0px 10px 16px -3px rgba(20, 21, 26, 0.08);

    @media (max-width: 450px) {
      max-height: 100svh;
      max-height: -webkit-fill-available;
      margin: 0;
      border-radius: 0;
    }

    &-header {
      flex-grow: 0;
      flex-shrink: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      position: relative;

      &-title {
      }

      .close {
      }
    }

    &-body {
      padding: 0 2rem;
      flex-grow: 1;
    }

    &-footer {
      padding: 1.5rem 2rem;
      flex-grow: 0;
      flex-shrink: 0;
      display: flex;
      justify-content: space-between;
    }

    &.sm {
      max-width: 50rem;
    }

    &.md {
      max-width: 580px;
    }

    &.lg {
      max-width: 780px;
    }

  }

  &.scrollable {
    .dialog-content-header {
      padding: 1rem;
    }

    .dialog-content-body {
      overflow-y: auto;
      padding: 1rem;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: none;
      overscroll-behavior: none;
    }

    .dialog-content-footer {
      padding: 1rem;
    }
  }

  &.active {
    opacity: 1;
    visibility: visible;

    .dialog-content {
      transform: translateY(0);
    }
  }
}