/*####################################################
DIVIDERS
####################################################*/

.line-divider{
    border: none;
    border-top: 1px solid var(--background--off-white);
    margin: 0;
}

@media (max-width: 450px){
    .smartphone-hide{
        display: none !important;
    }
}

.fill-height {
    height: 100vh;
}

.full-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/*####################################################
POSITION
####################################################*/

.p-relative{
    position: relative !important;
}

.p-absolute {
    position: absolute;
}

/*####################################################
FLEX UTILS
####################################################*/

.d-flex {
    display: flex !important;
}

.flex-column {
    flex-direction: column !important;
}

.flex-grow-0 {
    flex-grow: 0 !important;
}

.flex-grow-1 {
    flex-grow: 1 !important;
}

.flex-shrink-0 {
    flex-shrink: 0 !important;
}

.flex-shrink-1 {
    flex-shrink: 1 !important;
}

.flex-wrap {
    flex-wrap: wrap !important;
}

.align-self-start {
    align-self: flex-start !important;
}

.align-self-center {
    align-self: center !important;
}

.align-self-end {
    align-self: flex-end !important;
}

.align-self-stretch {
    align-self: stretch !important;
}

.align-items-center {
    align-items: center !important;
}

.align-items-start {
    align-items: flex-start !important;
}

.align-items-stretch {
    align-items: stretch !important;
}

.align-items-end {
    align-items: flex-end !important;
}


.justify-start {
    justify-content: flex-start !important;
}

.justify-end {
    justify-content: flex-end !important;
}

.justify-between {
    justify-content: space-between !important;
}

.justify-center {
    justify-content: center !important;
}


.uppercase {
    text-transform: uppercase;
}
  
.capitalize {
    text-transform: capitalize;
}


.gap-xs {
    gap: .25rem !important;
}

.gap-sm {
    gap: .5rem !important;
}

.gap-md {
    gap: 1rem !important;
}

.gap-lg {
    gap: 1.5rem !important;
}

.gap-xl {
    gap: 2rem !important;
}

.gap-xxl {
    gap: 3rem !important;
}

/*####################################################
TRUNCATE
####################################################*/

.truncate {
    overflow: hidden;
    display: -webkit-box;

    &-after {
        position: relative;
        -webkit-box-orient: vertical;
        @for $i from 1 to 15 {
            &.lines-#{$i}{
                -webkit-line-clamp: #{$i};
                max-height: $i + 1em;
            }
        }
        
    }
}

/*####################################################
COLUMNS
####################################################*/

.columns-2{
    columns: 2;
    column-gap: .5rem;
    @media (max-width: 450px){
        columns: 1;
    }
}

/*####################################################
OPACITY
####################################################*/

$op : 0;

@while $op <=100 {
    .opacity-#{$op} {
        opacity: #{$op/100};
    }

    $op: $op+10;
}

/*####################################################
BG COLORS
####################################################*/
.bg-color-white {
    background-color: white !important;
}
@each $name in $colors {
    .bg-color-#{$name}-50 {
        background-color: var(--#{$name}--50) !important;
    }

    @for $i from 1 through 9 {
        $value: $i * 100;
        .bg-color-#{$name}-#{$value} {
            background-color: var(--#{$name}--#{$value}) !important;
        }
    }

    .bg-color-#{$name} {
        background-color: var(--#{$name}--950) !important;
    }
}